mongomini/**/*.bin filter=lfs diff=lfs merge=lfs -text
harpjs/tools/suexec.bin filter=lfs diff=lfs merge=lfs -text
hugo/tools/hugo.bin filter=lfs diff=lfs merge=lfs -text
hugo/tools/suexec.bin filter=lfs diff=lfs merge=lfs -text
